.banner{
height: 200px;
width: 100%;
object-fit: cover;
}

.navheadings{
background-color: black;
color: white;
padding: 5px;
margin: 10px
text-align: center;
}

a:link {
  text-decoration: none;
  background-color: black
}

a:visited {
  text-decoration: none;
  background-color: black;
}

a:hover {
  text-decoration: none;
  background-color: green;
}

a:active {
  text-decoration: none;
  background-color: green;
}