.banner{
height: 200px;
width: 100%;
object-fit: cover;
}

.navheadings{
background-color: black;
color: white;
padding: 5px;
margin: 10px
text-align: center;
}

navheadings:link {
  text-decoration: none;
  background-color: black
}

navheadings:visited {
  text-decoration: none;
  background-color: black;
}

navheadings:hover {
  text-decoration: none;
  background-color: green;
}

navheadings:active {
  text-decoration: none;
  background-color: green;
}

.footer{
border: 1px solid black;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding: 5px;
}

.footerheading{
font-family: "Times New Roman", Times, serif;
}

.logo{
height: 70px;
right: 0;
bottom: 0;
padding: 5px;
position: fixed;
}