html, body { /* Format for page */
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #E3735E;
}

.banner { /* Banner image display */
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.navbar { /* Positioning and aligning the navbar */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: black;
  padding: 10px;
}

.navheadings { /* Styling the navbar */
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navheadings:link,
.navheadings:visited { /* Styling the navbar depending on how it is interacted with */
  background-color: black;
}

.navheadings:hover,
.navheadings:active { /* Styling the navbar depending on how it is interacted with */
  background-color: green;
}

.footer { /* Styles and places the footer */
  border-top: 1px solid black;
  flex: 1;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: #C0B093;
}

.footerheading { /* Styling the font used on the text inside the footer */
  font-family: "Times New Roman", Times, serif;
}

.logo { /* Styling the image inside the footer */
  height: 70px;
  padding: 5px;
 }

.infolinks { /* Positioning and aligning the information links */
  color: white;
  text-decoration: none;
  padding: 2px 12px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.infolinks:link,
.infolinks:visited { /* Styling the information links depending on how it is interacted with */
  background-color: black;
}

.infolinks:hover,
.infolinks:active { /* Styling the information links depending on how it is interacted with */
  background-color: green;
}

h1{ /* Aligns and positions the page header */
text-align: center;
margin-left: auto;
  margin-right: auto;
}

.ovrvwtext{ /* Aligns, positions and sets font size for the small paragraph under the table */
text-align: center;
margin-left: auto;
margin-right: auto;
font-size: 19px;
font-family: Optima, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}


table, th, td { /* Positions table and adds solid, collapsed borders */
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th, td { /* Sets padding and aligns the images and text inside the th and td tags */
  padding: 5px;
  text-align: center;
  font-size: 17.5px;
  font-family: Optima, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}